<template>
  <div class="home">
    Désolé pour le "design", j'étais trop mal de la soirée, je me suis concentré sur les fonctionnalités :)
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>
