<template>
  <div class="listing">
    <div class="listes">
      <div v-for="(liste, index) in listes" :key="index">
        <Liste :liste="liste"></Liste>
      </div>
    </div>
    <router-link to="/new">
      <button>Ajouter une liste</button>
    </router-link>
  </div>
</template>

<script>
  import Liste from "../components/Liste";

  export default {
    name: 'Listing',
    components: {
      Liste
    },
    data() {
      return {
        listes: []
      }
    },
    mounted() {
      this.listes = JSON.parse(localStorage.getItem('listes')) || [];
    },
  }
</script>

<style scoped>

</style>
