<template>
  <div v-if="this.liste" class="list">
    <h1>
      {{ this.liste.nom }}
      ({{ this.liste.items.length }})
      <button @click="newItem">Ajouter un élément</button>
    </h1>

    <div class="items">
      <div v-for="(item, index) in liste.items" :key="index">
        <Item :liste="liste" :item="item"></Item>
      </div>
    </div>
  </div>
</template>

<script>

  import Item from "../components/Item"

  export default {
    name: 'ListShow',
    components: {
      Item
    },
    data() {
      return {
        liste: null,
        listes: []
      }
    },
    mounted() {
      this.listes = JSON.parse(localStorage.getItem('listes')) || [];
      this.liste = this.listes.find(list => list.id === this.$route.params.id);
    },
    methods: {
      newItem() {
        this.$router.push({
          name: 'NewItem',
          params: {
            id: this.liste.id
          }
        })
      }
    }
  }
</script>
