<template>
  <div class="new">
    <input v-model="newListe.nom" type="text">
    <button @click="submit">Ajouter</button>
  </div>
</template>

<script>
  export default {
    name: 'New',
    data() {
      return {
        newListe: {
          id: null,
          nom: null,
          items: []
        }
      }
    },
    methods: {
      submit() {
        if(this.newListe.nom) {
          // id de la nouvelle liste
          this.newListe.id = (new Date).getTime();

          let listes = JSON.parse(localStorage.getItem('listes')) || [];
          listes.push(this.newListe);
          localStorage.setItem('listes', JSON.stringify(listes));

          this.$router.push({name: 'Listing'});
        }
      }
    }
  }
</script>
