<template>
  <div class="newItem">
    <h1 v-if="this.liste">Ajouter un item à la liste : {{ liste.nom }}</h1>
    <input v-model="newItem.libelle" type="text">
    <button @click="submit">Ajouter</button>
    <button @click="cancel">Annuler</button>
  </div>
</template>

<script>
  export default {
    name: 'NewItem',
    data() {
      return {
        liste: null,
        listeIndex: -1,
        listes: [],
        newItem: {
          id: null,
          libelle: null,
        }
      }
    },
    mounted() {
      this.listes = JSON.parse(localStorage.getItem('listes')) || [];
      this.liste = this.listes.find(list => list.id === this.$route.params.id);
      this.listeIndex = this.listes.findIndex(list => list.id === this.$route.params.id);
    },
    methods: {
      submit() {
        if(this.newItem.libelle) {
          // id du nouvel item
          this.newItem.id = (new Date).getTime();

          this.listes.splice(this.listeIndex, 1);
          this.liste.items.push(this.newItem);
          this.listes.push(this.liste);

          localStorage.setItem('listes', JSON.stringify(this.listes));

          this.$router.push({name: 'ListShow', params: { id: this.liste.id } });
        }
      },
      cancel() {
        this.$router.push({
          name: 'ListShow',
          params: {
            id: this.liste.id
          }
        })
      }
    }
  }
</script>
