<template>
  <div>
    <h1><router-link to="/">Home</router-link></h1>
    <div id="nav">
      <router-link to="/listing">Mes listes</router-link>
    </div>
    <hr>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
