<template>
  <div class="item">
    {{ item.libelle }}
    <button @click="deleteItem">X</button>
  </div>
</template>

<script>
export default {
  name: 'Item',
  props: ['liste', 'item'],
  data() {
    return {
      listeIndex: null,
      itemIndex: null,
      listes: []
    }
  },
  methods: {
    deleteItem() {
      this.listes = JSON.parse(localStorage.getItem('listes')) || [];
      this.listeIndex = this.listes.findIndex(list => list.id === this.liste.id);
      this.itemIndex = this.liste.items.findIndex(itemListe => itemListe.id === this.item.id);
      this.liste.items.splice(this.itemIndex, 1);

      this.listes.splice(this.listeIndex, 1);
      this.listes.push(this.liste);
      localStorage.setItem('listes', JSON.stringify(this.listes));
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
