<template>
  <div @click="goToList" class="liste">
    <h3>
      {{ liste.nom }}
      ({{ liste.items.length }})
    </h3>
  </div>
</template>

<script>
export default {
  name: 'Liste',
  props: ['liste'],
  methods: {
    goToList() {
      this.$router.push({
        name: 'ListShow',
        params: {
          id: this.liste.id
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .liste{
    cursor: pointer;
  }

</style>
